* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../img/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

section {
  width: 450px;
  color: #ffffff;
}

.titulo-principal {
  font-size: 2.4rem;
  font-weight: 700;
}

.descripcion {
  padding-top: 10px;
  font-size: 1.2rem;
  font-weight: 300;
}

textarea {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 15px;
  width: 100px;
  height: 100px;
  border: 0px;
  outline: none;
  color: #a0a0a0;
  border-radius: 10px;
  box-shadow: 9px 9px 20px -9px rgba(0, 0, 0, 0.55);
  padding: 15px;
}

.caja-encriptar::placeholder {
  font-size: 0.8rem;
  font-weight: 300;
  color: #a0a0a0;
}

.instrucciones {
  margin-top: 10px;
  font-size: 0.8rem;
  font-weight: 300;
  padding: 5px 0 0 0;
}

.botones-encriptador {
  padding-top: 15px;
}

.btn-Encriptar {
  padding-top: 20px;
  margin-right: 10px;
}

.btn-Encriptar {
  width: 128px;
  display: inline-block;
  padding: 6px;
  margin: 0 1.5em 0.3em 0;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #ffffff;
  background-color: #b8d82b;
  text-align: center;
  transition: all 0.2s;
  box-shadow: 9px 9px 20px -9px rgba(0, 0, 0, 0.55);
  cursor: pointer;
}

.btn-Encriptar:hover {
  background-color: #5da719;
}

.btn-Encriptar:active {
  transform: translateY(4px);
}

.btn-Desencriptar {
  width: 128px;
  display: inline-block;
  padding: 6px;
  margin: 0 0.3em 0.3em 0;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #ffffff;
  background-color: #b8d82b;
  text-align: center;
  transition: all 0.2s;
  box-shadow: 9px 9px 20px -9px rgba(0, 0, 0, 0.55);
  cursor: pointer;
}

.btn-Desencriptar:hover {
  background-color: #5da719;
}

.btn-Desencriptar:active {
  transform: translateY(4px);
}

.subtitulo {
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 30px;
}

.caja-mensaje::placeholder {
  font-size: 0.8rem;
  font-weight: 300;
  color: #a0a0a0;
}

.botonCopiar {
  padding-top: 15px;
  margin-right: 10px;
}

.btnCopiar {
  width: 128px;
  display: inline-block;
  padding: 6px;
  margin: 0 1.5em 0.3em 0;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #ffffff;
  background-color: #b8d82b;
  text-align: center;
  transition: all 0.2s;
  box-shadow: 9px 9px 20px -9px rgba(0, 0, 0, 0.55);
  cursor: pointer;
}

.btnCopiar:hover {
  background-color: #5da719;
}

.btnCopiar:active {
  transform: translateY(4px);
}

footer {
  background-color: rgba(0, 0, 0, 0.541);
  padding: 32px 0;
  text-align: center;
  margin-top: auto;
  color: white;
}

footer p {
  font-size: 0.9rem;
  font-weight: 200;
}

/* Responsive design - adaptable a dispositivos moviles */

@media screen and (min-width: 320px) {
  main {
    width: 290px;
    margin: 30px auto;
    margin-top: 40px;
  }
  .titulo-principal {
    font-size: 1.5rem;
  }
  .descripcion {
    width: 260px;
    font-size: 0.9rem;
  }
  textarea {
    width: 260px;
    height: 100px;
  }
  .caja-encriptar::placeholder {
    font-size: 0.7rem;
  }
  .instrucciones {
    width: 290px;
  }
  .subtitulo {
    font-size: 1rem;
    margin-top: 35px;
  }
  .input-mensaje::placeholder {
    font-size: 0.7rem;
  }

  footer p {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 768px) {
  main {
    width: 400px;
    margin: 90px 0 90px 190px;
  }
  .titulo-principal {
    width: 400px;
    font-size: 2.1rem;
  }
  .descripcion {
    width: 390px;
    font-size: 1.2rem;
  }
  textarea {
    width: 370px;
    height: 120px;
  }
  .caja-encriptar::placeholder {
    font-size: 0.8rem;
  }
  .instrucciones {
    width: 400px;
    font-size: 0rem;
  }
  .subtitulo {
    font-size: 1.2rem;
    margin-top: 35px;
  }
  .input-mensaje::placeholder {
    font-size: 0.8rem;
  }
  footer p {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 1440px) {
  main {
    width: 450px;
    margin: 120px 0 90px 300px;
  }
  .titulo-principal {
    width: 450px;
    font-size: 2.4rem;
  }
  .descripcion {
    width: 450px;
    font-size: 1.2rem;
  }
  textarea {
    width: 420px;
    height: 120px;
  }
  .caja-encriptar::placeholder {
    font-size: 0.9rem;
  }
  .instrucciones {
    width: 400px;
    font-size: 0.9rem;
  }
  .subtitulo {
    font-size: 1.4rem;
  }
  .input-mensaje::placeholder {
    font-size: 0.9rem;
  }
  footer p {
    font-size: 0.9rem;
  }
}
